    <!-- Allow all sources for content -->
    <meta
        http-equiv="Content-Security-Policy"
        content="default-src 'self' 'unsafe-inline' 'unsafe-eval' data: blob: *;"
    />
    <!-- global meta tags -->
    <meta charset="utf-8" />
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
    <meta name="author" content="Eugene Andruszczenko">
    <meta name="subject" content="todo">
    <meta name="description" content="Generic NodeJS Express REST API">
    <meta name="classification" content="">
    <meta name="keywords" content="NodeJS, Express, REST, API">
    <meta name="geography" content="">
    <meta name="language" content="en-US">
    <meta name="copyright" content="Eugene Andruszczenko">
    <meta name="designer" content="Eugene Andruszczenko">
    <meta name="publisher" content="Eugene Andruszczenko">
    <meta name="distribution" content="">
    <meta name="zipcode" content="">
    <meta name="city" content="Toronto">
    <meta name="country" content="Canada">