@property --code {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

:root {
  --stroke: var(--border-pixel);
  --curve: cubic-bezier(.5,-0.53,.14,1.23);
}

status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 3rem;
  user-select: none;
  background: linear-gradient(
                to right,
                transparent calc(50% - var(--stroke)),
                var(--gray-50) calc(50% - var(--stroke)),
                var(--gray-50) calc(50%),
                transparent calc(50%)
              );
  background-size: 100% calc(96 / 16 * 1rem);
  background-position: center;
  background-repeat: no-repeat;
}

state,
description {
  width: 50vw;
}

state {
  counter-set: code var(--code);
  text-align: right;
  transition: --code 1250ms;

  &:before {
    content: counter(code);
    font-size: calc(48 / 16 * 1rem);
    color: var(--gray-50);
  }
}


description {
  text-align: left;
}

description:before {
  content: var(--description);
  color: var(--theme);
}